Hello/xml-resources/web-service-references/WebServiceImplService/wsdl/10.2.57.153_8080/Hello_WS/WebServiceImplService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://gpb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://gpb/" name="WebServiceImplService">
<types/>
<message name="getName">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="getNameResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getHelloString">
<part name="arg0" type="xsd:string"/>
</message>
<message name="getHelloStringResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="getxmlFile">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="getxmlFileResponse">
<part name="return" type="xsd:string"/>
</message>
<portType name="WebService1">
<operation name="getName" parameterOrder="arg0 arg1">
<input wsam:Action="http://gpb/WebService1/getNameRequest" message="tns:getName"/>
<output wsam:Action="http://gpb/WebService1/getNameResponse" message="tns:getNameResponse"/>
</operation>
<operation name="getHelloString">
<input wsam:Action="http://gpb/WebService1/getHelloStringRequest" message="tns:getHelloString"/>
<output wsam:Action="http://gpb/WebService1/getHelloStringResponse" message="tns:getHelloStringResponse"/>
</operation>
<operation name="getxmlFile" parameterOrder="arg0 arg1">
<input wsam:Action="http://gpb/WebService1/getxmlFileRequest" message="tns:getxmlFile"/>
<output wsam:Action="http://gpb/WebService1/getxmlFileResponse" message="tns:getxmlFileResponse"/>
</operation>
</portType>
<binding name="WebServiceImplPortBinding" type="tns:WebService1">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://gpb/"/>
</input>
<output>
<soap:body use="literal" namespace="http://gpb/"/>
</output>
</operation>
<operation name="getHelloString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://gpb/"/>
</input>
<output>
<soap:body use="literal" namespace="http://gpb/"/>
</output>
</operation>
<operation name="getxmlFile">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://gpb/"/>
</input>
<output>
<soap:body use="literal" namespace="http://gpb/"/>
</output>
</operation>
</binding>
<service name="WebServiceImplService">
<port name="WebServiceImplPort" binding="tns:WebServiceImplPortBinding">
<soap:address location="http://10.2.57.153:8080/Hello_WS/WebServiceImplService"/>
</port>
</service>
</definitions>